@import 'tailwindcss';

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}
